#home {
    width: 700px;
    height: auto;
    border: 1px solid #000;
    margin: 0 auto;
    text-align: center;
}

#home img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

#home button {
    width: 80px;
    height: aotu;
    border-radius: 5px;
    margin: 10px 0px;
}

#home .imglist img {
    width: 100px;
    height: 100px;
    border-radius: 0px;
    border: 2px solid rgb(0, 0, 255);
    text-align: center;
}

#home .header {
    background: #00000070;
}

#home .header h1, h2 {
    color: #ffffff;
}

#home .content .menu {
    display: flex;
    align-content: center;
    padding: 5px 10px;
}

#home .content .menu .item {
    width: 25%;
    height: 30px;
    line-height: 30px;
    /* margin-right: 5px; */
    border: 1px solid #000000;

}

#home .content .userlist {
    min-width: 700px;
    min-height: 200px;
    padding: 5px 0px;
    height: auto;
    border: 1px solid #000;
    float: left;
}


#home .content .userlist .user {
    float: left;
    margin-left: 25px;
    width: 20%;
}

